# fprime items
logs/
cmake-build-*
build-artifacts/
build-fprime-*
*-template
*.template.cpp
*.template.hpp

# Cross-compile sysroot (large, synced separately from target Pi)
sysroot/

# Misc
/venv/
/fprime-venv/
/.idea/
/.vscode/
.DS_Store
*.gcov
